.address-title {
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 1px;
  margin-left: 30px;
  margin-bottom: 45px;
  display: inline-block;
}


.each-address {
  font-family: "roboto", sans-serif;
  font-weight:bold;
  font-size: 16px;
  margin-left: 24px;
}

#search-address {
  position: absolute;
  left: 15px;
  top: 159px;
  z-index: 150;
}

.address-description {
  font-family: "roboto", sans-serif;
  font-weight:normal;
  font-size: 10px;
  font-color: #C4C4C4;
  margin-left: 24px;
}

.address-search-form-control{
  width: 276px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  margin-left: -6px;
  border-radius: 50px;
  margin-top: 6px;
}

