.edit-user{
  font-family: "roboto", sans-serif;
  font-weight: bold;
  width: 165px;
  height: 40px;
  font-size: 30px;
  margin-top: 1px;
  margin-left: 30px;
  margin-bottom: 35px;

}

.optional{

padding-left: 10px;
}

.required{
  padding-left: 10px;
}


#edit-user-input {
  font-family: "roboto", sans-serif;
  font-size: 15px;
  width: 350px;
  margin-left: 8px;
  margin-bottom: 20px;
}

#edit-user-actions{
  font-family: "roboto", sans-serif;
  font-size: 20px;
  margin-top: 30px;
  font-weight: bold;



}

.cancel-account {
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.unhappy {
  font-family: "roboto", sans-serif;
  font-size: 15px;
  margin-left: 14px;
}

#email {
  font-family: "roboto", sans-serif;
  font-size: 15px;
  width: 361px;
  margin-left: -10px;

}

#current-password {
  font-family: "roboto", sans-serif;
  font-size: 15px;
  width: 361px;
  margin-left: -10px;
}

.user-back{
  font-family: "roboto", sans-serif;
  font-weight: bold;
  margin-left: 10px;
}
