.edit-user{
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 1px;
  margin-left: 30px;
  margin-bottom: 35px;

}

.optional{

padding-left: 10px;
}

.required{
  padding-left: 10px;
}


#edit-user-input {
  font-family: "roboto", sans-serif;
  font-size: 15px;
  width: 350px;
  margin-left: 8px;
  margin-bottom: 20px;
}

.edit-btn-actions{
  font-family: "roboto", sans-serif;
  font-size: 15px;
  margin-top: 4px;
  margin-left: 106px;
  background-color: #16C79A;
  color: white;
  border-radius: 10px;


}

.cancel-account {
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.unhappy {
  font-family: "roboto", sans-serif;
  font-size: 15px;
  margin-left: 77px;
  margin-top: 30px;
}

#email {
  font-family: "roboto", sans-serif;
  font-size: 15px;
  width: 361px;
  margin-left: -10px;

}

#current-password {
  font-family: "roboto", sans-serif;
  font-size: 15px;
  width: 361px;
  margin-left: -10px;
}

.user-back{
  font-family: "roboto", sans-serif;
  font-weight: bold;
  margin-left: 10px;
}
