// Specific CSS for your home-page
.mapboxgl-ctrl-group{
  position: fixed;
  bottom: 130px;
  left: 44px;
}

a.mapboxgl-ctrl-logo{
  display: none !important;
}

.mapboxgl-ctrl-attrib-button {
  display: none !important;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact{
  display: none !important;
}

.mapbox-directions-component-keyline {
  width: 100%;
}

.mapboxgl-ctrl-directions.mapboxgl-ctrl {
  width: 90vw;
  min-width: 74vw; 
  max-width: 70vw;
}