.login-title{
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 1px;
  margin-left: 30px;
  margin-bottom: 45px;
  display: inline-block;
}

.login-form-inputs{
  font-family: "roboto", sans-serif;
  font-size: 15px;
  width: 350px;
  margin-left: 8px;

}

.login-form-actions{
  font-family: "roboto", sans-serif;
  font-size: 15px;
  margin-top: 30px;
  margin-left: 133px;
  background-color: #16C79A;
  color: white;
  border-radius: 10px;
}

.signup-forget{
  margin-top: 40px;
  font-family: "roboto", sans-serif;
  font-size: 15px;
  text-align: center;
}

.form-text{
  margin-left: 9px;

}
