.title-new-address{
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 1px;
  margin-left: 30px;
  margin-bottom: 45px;
  display: inline-block;
}

.address-form-inputs{
  font-family: "roboto", sans-serif;
  font-size: 15px;
  height: 48px;
  width: 350px;
  margin-left: 8px;
}

.address-btn-actions{
  font-family: "roboto", sans-serif;
  font-size: 15px;
  margin-top: 125px;
  margin-left: 132px;
  background-color: #16C79A;
  color: white;
  border-radius: 10px;
}
