<!-- Button trigger modal -->
<button id="alertBtn" type="button" class="btn" data-toggle="modal" data-target="#alertModal"></button>

<!-- Modal -->
<div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="alertRadius modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="alertModalLabel"><img class="alert-icon" src="https://res.cloudinary.com/titavon/image/upload/v1615304152/mdi_shield-alert-outline_colour_ygqkjt.png"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>An alert has been sent to your contacts!</p><br>
        <p>Would you like to call the <strong> Police </strong>?</p>
      </div>
      <div class="modal-footer">
        <button id="btnPolice" type="button" class="btn btn-primary">Police</button>
      </div>
    </div>
  </div>
</div>
