
<!-- Modal -->
<div class="modal fade" id="createAlertModal" tabindex="-1" aria-labelledby="createAlertLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="alertRadius modal-content">
      <div class="modal-header alertHeader">
        <h5 class="modal-title" id="createAlertLabel">Create alert!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container">
        <%= simple_form_for(Alert.new) do |f| %>
          <div class="form-inputs">
            <%= f.input :address,
                        required: true,
                        autofocus: true %>
            </div>
            <div class="row">
            <div class="px-3 col-6 d-flex justify-content-center">
              <button id="btnRobbery" type="button" class="btn border " data-toggle="modal" data-target="#createAlertnewModal" style="width: 90px; height: 90px"></button>
            </div>

             <div class="px-3 col-6 d-flex justify-content-center">
              <button id="btnFireArm" type="button" class="btn border " data-toggle="modal" data-target="#createAlertnewModal" style="width: 90px; height: 90px"></button>
            </div>

            <div class="px-3 col-6 d-flex justify-content-center">
              <button id="btnFight" type="button" class="btn border " data-toggle="modal" data-target="#createAlertnewModal" style="width: 90px; height: 90px"></button>
             </div>

            <div class="px-3 col-6 d-flex justify-content-center">
              <button id="btnSuspicious" type="button" class="btn border " data-toggle="modal" data-target="#createAlertnewModal" style="width: 90px; height: 90px"></button>
            </div>

            <div class="px-3 col-6 d-flex justify-content-center">
              <button id="btnAbuse" type="button" class="btn border " data-toggle="modal" data-target="#createAlertnewModal" style="width: 90px; height: 90px"></button>
            </div>

            <div class="px-3 col-6 d-flex justify-content-center">
              <button id="btnKidnap" type="button" class="btn border " data-toggle="modal" data-target="#createAlertnewModal" style="width: 90px; height: 90px"></button>
            </div>
          </div>
            <div class="btn-actions btn btn">
              <%= f.button :submit, "Create" %>
            </div>
        <%end%>
          
        </div>
      </div>

    </div>
  </div>
</div>
