<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#describeModal">
  Describe your incident
</button>

<!-- Modal -->
<div class="modal fade" id="describeModal" tabindex="-1" aria-labelledby="describeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="describeRadius modal-content">
      <div class="greenHeader modal-header">
        <h5 class="modal-title" id="describeModalLabel">Describe your incident</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Avatar goes somewehre here</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
             <input class="post" type="submit" value="Post">
          </div>
       </form>
      </div>
    </div>
  </div>
</div>
