<!-- Search explanation  -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary search_bar" data-toggle="modal" data-target="#SearchBar">
  Search bar
</button>

<!-- Modal -->
<div class="modal fade" id="SearchBar" tabindex="-1" aria-labelledby="SearchBarLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <!--<div class="modal-header">
        <h5 class="modal-title" id="SearchBarLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>-->
      <div class="modal-body searchbar">
        <p>Search fot the safest way to your destination</p>
      </div>
      <!--<div class="modal-footer">-->
        <button type="button" class="btn btn-primary next">Next</button>
      <!--</div>-->
    </div>
  </div>
</div>
<!-- end -->


<!-- 3 dots Button explanation  -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary three" data-toggle="modal" data-target="#threedots">
  3 dots button
</button>

<!-- Modal -->
<div class="modal fade" id="threedots" tabindex="-1" aria-labelledby="threedotsLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <!--<div class="modal-header">
        <h5 class="modal-title" id="threedotsLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>-->
      <div class="modal-body three_dots">
        <p>Use the great features that we provide to enshure a Safe way!</p>
      </div>
      <!--<div class="modal-footer">-->
        <button type="button" class="btn btn-primary next">Next</button>
      <!--</div>-->
    </div>
  </div>
</div>
<!-- end -->


<!-- Emergencie button explanation  -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary three" data-toggle="modal" data-target="#emergencie">
  Emegencie button
</button>

<!-- Modal -->
<div class="modal fade" id="emergencie" tabindex="-1" aria-labelledby="emergencieLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <!--<div class="modal-header">
        <h5 class="modal-title" id="emergencieLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>-->
      <div class="modal-body emergenciebutton">
        <p>Emegencie Button!</p>
        <p>Send an alert with current location to your emergencie contacts</p>
      </div>
      <!--<div class="modal-footer">-->
        <button type="button" class="btn btn-primary account">Add number</button>
        <button type="button" class="btn btn-secondary skip">Skip</button>
      <!--</div>-->
    </div>
  </div>
</div>
<!-- end -->