<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reviewModal">
  Trip review
</button>

<!-- Modal -->
<div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="reviewRadius modal-content">
      <div class="tripReviewGreen modal-header">
        <div class="trip-container text-center">
          <img class="trip-icon" src="https://res.cloudinary.com/titavon/image/upload/v1615257074/Vector_vxcbrz.png">
        </div>
      </div>
      <div class="modal-body">
        <h5 class="modal-title" id="reviewModalLabel">How was your trip?</h5>
        <div class="buttons-review">
          <button class="btn btn-primary" id="btnGood" type="button">Good!</button>
          <button class="btn btn-secondary" id="btnUnsafe" type="button">Unsafe</button>
        </div>
      </div>

    </div>
  </div>
</div>
