<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reviewModal">
  Trip review
</button>

<!-- Modal -->
<div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="reviewRadius modal-content">
      <div class="tripReviewGreen modal-header">
        <h5 class="modal-title" id="reviewModalLabel">How was your trip?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button id="btnGood" type="button" class="btn">Good!</button>
        <button id="btnUnsafe" type="button" class="btn">Unsafe</button>
      </div>

    </div>
  </div>
</div>
