<div id="map" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">></div>
     <div class="sidebar">
          <div class="heading">
               <h1>Routes</h1>
          </div>
      <div id="reports" class="reports"></div>
</div>



<button id="myLocation" class="btn btn-primary">share location</button>