<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<button id="sidebar-button" type="button" class="btn" data-toggle="modal" data-target="#sidebarModal">Sidebar</button>

<%= render "sidebar" %>
<%= render "alert_modal" %>

