 <%= link_to root_path do %>
  <img class="goback" src="https://res.cloudinary.com/titavon/image/upload/v1615237711/Vector_pdzyn9.png">
 <% end %>
<br>
<hr>
<h1 class="index-alert ">Alerts</h1>

<hr>
<% @alerts.each do |alert| %>
  <hr>
        <%= alert.category %>
        <%= alert.address %>
<%end%>
