#btnPolice {
  margin-right: 105px;
}

#alertModalLabel {
  margin-left: 138px;
}

#alertModal {
  border-radius: 20px;
  text-align: center;
  font-family: 'roboto', sans-serif;
  font-size: 20px;
}

.fas {
  margin-left: 122px;
}

.alertRadius {
  border-radius: 9px;
}


