.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.alert-button {
  background-image: url("button.png") !important;
  background-color: blue;
  background-size: cover;
  width: 60px;
  height:60px;
  border-radius: 50%;
}
