#btnPolice {
  background-color: #15c79a;
  margin-right: 102px;
  border-radius: 7px;
  font-family: 'roboto', sans-serif;

}

#alertModal {
  border-radius: 7px;
  text-align: center;
  font-family: 'roboto', sans-serif;
}

.fas {
  margin-left: 122px;
}

.alertRadius {
  border-radius: 9px;
}


