.contacts {
  font-family: "roboto", sans-serif;
  font-weight: bold;
  width: 165px;
  height: 40px;
  font-size: 30px;
  margin-top: 10px;
  margin-left: 30px;

}

.name {
   font-family: "roboto", sans-serif;
   font-weight:bold;
   font-size: 16px;
   margin-left: 66px;

}

.contact-emergency {
  width:30px;
  height: 30px;
}

.goback {
  width: 10.06px;
  height: 20.03px;
  margin-top: 37.03px;
  margin-left: 32.25px;
}
#contact-search{


}

.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 48px;
  width: 276px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  margin-left: 17px;
  border-radius: 50px;
}

.fas{
  margin-right: 1380px;
}

.form-btn{
  position: absolute;
  right: -10px;
  top: 7px;
  color: #C4C4C4;
}

.form-control{
  font-family: "roboto", sans-serif;
  color: #C4C4C4;
}


