#btnRobbery{
  border-radius: 7px;
  font-size: 15px;
  font-family: 'roboto',sans-serif;
}
#btnFireArm{
  border-radius: 7px;
  font-size: 15px;
  text-align: center;
  font-family: 'roboto',sans-serif;
  // margin-top: 0px;
}
#btnFight{
  border-radius: 7px;
  font-size: 15px;
  text-align: center;
  font-family: 'roboto',sans-serif;
  // margin-top: 19px;
}
#btnSuspicious{
  border-radius: 7px;
  font-size: 15px;
  text-align: center;
  font-family: 'roboto',sans-serif;
  // margin-top: 20px;
}
#btnAbuse{
  border-radius: 7px;
  font-size: 15px;
  text-align: center;
  font-family: 'roboto',sans-serif;
  // margin-top: 20px;
}
#btnKidnap{
  border-radius: 7px;
  font-size: 15px;
  text-align: center;
  font-family: 'roboto',sans-serif;
  // margin-top: 20px;
}

#btnAlertPolice{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #de1125;
  margin-left: 85px;
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
  background-image: url("button");
  background-size: 100%;
}

.alertRadius {
  border-radius: 9px;
}
