.greenHeader {
  background-color:#15c79a;
  font-family: 'roboto', sans-serif;
  font-size: 21px;
  border-radius: 9px;
}

.post {
  background-color:#15c79a;
  border-radius: 7px;
  border-color: transparent;

}

.describeRadius {
  border-radius: 9px;
}
