.btn-group {

  background-image: url("https://res.cloudinary.com/titavon/image/upload/v1614968816/dotmenu_qfwd3h.png");
  height: 70px;
  width: 70px;
  background-size: 100%;
  border-radius: 7px;

}
