#myLocation{
  background-image: url("https://res.cloudinary.com/titavon/image/upload/v1614968816/sharepath_skwmwg.png");
  background-size: 100%;
  height: 60px;
  width: 60px;
  border-radius: 18px;
}

.my-location{
  text-indent: 5px;
}
