.modal-title {
  font-family: "roboto", sans-serif;
  font-size: 24px !important;
  font-weight: 100;
  color: #505050 !important;
  text-align: center;
}

#reviewModal {
  margin-top: 45px;
  border-radius: 7px;
  font-family: 'roboto', sans-serif;
}

.trip-icon{
  margin-left: 136px;
  height: 50px;
  width: 50px;
}

.reviewRadius{
  border-radius: 9px;
}

.modal-header {
  border-bottom: none;
  padding-top: 20px;
  padding-bottom: 0px;
}

.buttons-review {
  margin-top: 30px;
  margin-bottom: 5px;
  text-align: center;
}

#btnGood {
  width: 135px;
  height: 45px;
  margin-right: 10px;
}

#btnUnsafe {
  width: 135px;
  height: 45px;
}

.modal-content {
  margin-top: 50px;
}

#reviewdestination {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}