#btnGood {
  background-color: #15c79a;
  margin-left: 40px;
  border-radius: 7px;
  font-family: 'roboto', sans-serif;

}

#btnUnsafe {
  background-color: #15c79a;
  margin-left: 35px;
  border-radius: 7px;
  font-family: 'roboto', sans-serif;

}

#reviewModal {
  border-radius: 7px;
  font-family: 'roboto', sans-serif;
}

.tripReviewGreen {
  background-color: #15c79a;
  font-family: 'roboto', sans-serif;
  border-radius: 9px;


}

.reviewRadius{
  border-radius: 9px;
}
