#sidebar-button{
  background-image: url("https://res.cloudinary.com/titavon/image/upload/v1614968816/sidebar_zdtiad.png");
  background-size: 100%;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin-left: 30px;
  margin-top: 10px;
}
