//.signupicon{
//    background-image: url("https://res.cloudinary.com/titavon/image/upload/v1615223484/gg_profile_lg81vl.png");
//}

.modal-title {
  font-family: "roboto", sans-serif;
  font-size: 16px !important;
  font-weight: 100;
  color: #505050 !important;
}
.signup-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.signupicon {
  width: 100px;
  height: 100px;
  margin: auto;
}

.modal-header {
  border-bottom: none;
  padding-top: 10px;
}

.form-control {
  border-radius: 20px;
}

.up-form-inputs {
  font-family: "roboto", sans-serif;
  font-size: 18px;
  color: #505050;
  width: 315px;
}

.required {
  padding-left: 10px;
}

abbr[title] {
  display: none;
}

.btn-primary {
  color: black;
  background-color: #16C79A;
  border-radius: 10px;
  border-color: #16C79A;
}

.create {
  margin-left: 103px;
  margin-top: 15px;
}
